services:
  nginx:
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api
      - svelte
    networks:
      - proxy

  postgres-db:
    image: postgres:18-alpine
    restart: unless-stopped
    shm_size: 128mb
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
      PGDATA: /var/lib/postgresql/18/docker
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql
    networks:
      - api
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U \"$DB_USER\" -d \"$DB_NAME\""]
      interval: 10s
      retries: 5

  api:
    build: api/.
    restart: unless-stopped
    environment:
      SERVER_HOST: ${SERVER_HOST}
      SERVER_PORT: ${SERVER_PORT}
      JWT_TOKEN_SECRET: ${JWT_TOKEN_SECRET}
      DB_URL: ${DB_URL}
    networks:
      - proxy
      - api
    depends_on:
      postgres-db:
        condition: service_healthy

  svelte:
    build: web-app/.
    restart: unless-stopped
    environment:
      NODE_ENV: ${FRONT_NODE_ENV}
      HOST: ${FRONT_HOST}
      PORT: ${FRONT_PORT}
    networks:
      - proxy
    depends_on:
      - api

volumes:
  pg_data:
    name: playtrack_pg_data

networks:
  proxy:
    driver: bridge
  api:
    driver: bridge